
@{
    ViewBag.Title = "Admin Home";
}

<h2>Admin Home</h2>

<a class="btn btn-primary" href="/admin/createProduct">Add Products</a>
<a class="btn btn-primary" href="/admin/editProduct">Edit Products</a>
<a class="btn btn-primary" href="/admin/createCategory">Add Category</a>
<br /><br />
<a class="btn btn-primary" href="/admin/allProducts">Show All Products</a>
<a class="btn btn-primary" href="/admin/AllCategories">Show All Categories</a>
<br /><br />
<a class="btn btn-primary" href="/admin/AllOrders">Show All Orders</a>

