
@{
    ViewBag.Title = "Login";
}

<h2>Login</h2>

<form action="/admin/login" method="post">
    <input type="text" name="email" placeholder="Email" class="form-control" />
    <br />
    <input type="password" name="password" placeholder="Password" class="form-control"/>
    <br />
    <input type="submit" class="btn btn-danger" value="Login" />
</form>

